<div class="main-container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Termék felvétel</h1>
  </div>
  <section class="form" >
    <h2>Adatok</h2>
    <div class="two-form" [formGroup]="productForm">
      <mat-form-field class="two-form__form">
        <mat-label>Terméknév</mat-label>
        <input matInput type="text" formControlName="productName">
      </mat-form-field>
      <mat-form-field class="two-form__form">
        <mat-label>Kategória</mat-label>
        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayObjectWithName">
          @for (category of filteredCategories; track category.id) {
            <mat-option
                        [value]="category">{{category.name}}</mat-option>
          }
        </mat-autocomplete>
        <input matInput type="text" [matAutocomplete]="auto1" formControlName="category">
      </mat-form-field>
    </div>
    <div class="two-form" [formGroup]="productForm">

    </div>
    <div class="two-form" [formGroup]="productForm">
      <mat-form-field class="two-form__form">
        <mat-label>Ár</mat-label>
        <input matInput type="number" formControlName="price">
      </mat-form-field>
      <mat-form-field class="two-form__form">
        <mat-label>Kedvezmény</mat-label>
        <input matInput type="number" formControlName="discount">
      </mat-form-field>
    </div>
    <div class="two-form" [formGroup]="productForm">
      <mat-form-field class="two-form__form">
        <mat-label>Márka</mat-label>
        <input matInput type="text" [matAutocomplete]="brandAuto"  formControlName="brand">
        <mat-autocomplete #brandAuto="matAutocomplete" [displayWith]="displayObjectWithName">
          @for (brand of filteredBrands; track brand.id) {
            <mat-option [value]="brand">{{brand.name}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="two-form__form">
        <mat-label>Raktárkészlet</mat-label>
        <input matInput type="number" formControlName="quantity">
      </mat-form-field>
    </div>
    <mat-form-field [formGroup]="productForm">
      <mat-label>Leírás</mat-label>
      <textarea matInput type="text" formControlName="description"></textarea>
    </mat-form-field>
    <div class="image-uploader">
      <p>Illusztráció</p>
      <input multiple (change)="fileUpload($event)" #fileUploader type="file"
             class="file-uploader-input">
      <button (click)="fileUploader.click()" class="my-button-form">Feltöltés</button>
    </div>
  </section>
  @if (illustrationImages.length || storedImages.length) {
    <h2>Feltöltött illusztrációk</h2>
    <div class="my-table">
      <div class="table">
        @if (illustrationImages.length) {
          <table mat-table [dataSource]="illustrationImages">
            <ng-container matColumnDef="fileName">
              <th mat-header-cell *matHeaderCellDef> Név</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div fxLayout="row" fxLayoutAlign="end">
                  <button (click)="deleteImage(element)" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button (click)="downloadImage(element)" mat-icon-button color="accent">
                    <mat-icon>download</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsIllustration"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsIllustration;"></tr>
          </table>

        } @else if (storedImages.length) {
          <table mat-table [dataSource]="storedImages">
            <ng-container matColumnDef="fileName">
              <th mat-header-cell *matHeaderCellDef> Név</th>
              <td mat-cell *matCellDef="let element"> {{element.file.name}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div fxLayout="row" fxLayoutAlign="end">
                  <button (click)="deleteImage(element.file)" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button (click)="downloadImage(element.file)" mat-icon-button color="accent">
                    <mat-icon>download</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsIllustration"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsIllustration;"></tr>
          </table>
        }
      </div>
    </div>
  }
  <button [disabled]="productForm.invalid" (click)="editingMode ? updateProduct() : createProduct() " class="my-button-form">{{editingMode ? "Termék módosítása" : "Termék létrehozása"}}</button>
</div>
