<main class="my-main">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Kategória felvétel</h1>
  </div>
  <section class="form" [formGroup]="categoryForm">
    <mat-form-field>
      <mat-label>Kategória megnevezése</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Szülő kategória</mat-label>
      <input
        matInput
        formControlName="parentCategory"
        name="parentCategory"
        [matAutocomplete]="parentCategoriesAutocomplete"
      />
      <mat-autocomplete #parentCategoriesAutocomplete="matAutocomplete" [displayWith]="displayCategory">
        @for (category of filteredParentCategories; track category.id) {
          <mat-option [value]="category">{{ category.name }}</mat-option>
        }
      </mat-autocomplete>
      @if (categoryForm.controls.parentCategory.errors?.["notObject"]) {
        <mat-error>Helytelen érték</mat-error>
      }
    </mat-form-field>
  </section>
  <button [disabled]=" categoryForm.invalid" (click)="createCategory()" class="my-button-form">Kategória létrehozása
  </button>
</main>
