<div fxLayout="row" fxLayoutAlign="center" class="home-header">
  <a routerLink="/home" class="logo-name">N I L E</a>
</div>
<div fxLayout="column" fxLayoutAlign="center" class="profile-icon">
  @if (!(currentUser$ | async)) {
    <button mat-fab (click)="login()">
      <mat-icon>
        account_circle
      </mat-icon>
    </button>
  }
  @if (currentUser$ | async) {
    <p class="user-name">Szia <a
      routerLink="/user/userSettings">{{ (currentUser$ | async)?.lastName }}</a> !</p>
  }
</div>
@if ((currentUser$ | async)?.role === 'ADMIN') {
  <div class="action-menu action-menu-admin">
    <div class="action-menu__section">
      <a routerLink="/admin/productCreate" class="action-menu-label-link"><strong>Termék felvétele</strong></a>
      <a routerLink="/admin/productList" class="action-menu-label-link"><strong>Termék lista</strong></a>
      <a routerLink="/admin/brandCreate" class="action-menu-label-link"><strong>Brand létrehozása</strong></a>
      <a routerLink="/admin/brandList" class="action-menu-label-link"><strong>Brand lista</strong></a>
      <a routerLink="/admin/categoryCreate" class="action-menu-label-link"><strong>Kategória létrehozása</strong></a>
      <a routerLink="/admin/categoryList" class="action-menu-label-link"><strong>Kategória
        lista</strong></a>
      <a routerLink="/admin/orders" class="action-menu-label-link"><strong>Rendelések</strong></a>
    </div>
    <div class="action-menu__section">
      <a mat-icon-button class="action-menu-icon" (click)="logout()">
        <mat-icon>
          logout
        </mat-icon>
      </a>
    </div>
  </div>
} @else {
  <div class="action-menu">
    <div class="action-menu__section">
      <button (click)="categoryMenu()" class="action-menu-label"><strong>Termék kategóriák</strong></button>
    </div>
    <div class="action-menu__section">
      <a mat-icon-button class="action-menu-icon" routerLink="/product/saved">
        <mat-icon>
          favorite
        </mat-icon>
      </a>
      @if ((currentUser$ | async)) {
        <a mat-icon-button class="action-menu-icon" routerLink="/shopping/cart">
          <mat-icon>
            shopping_bag
          </mat-icon>
        </a>
        <a mat-icon-button class="action-menu-icon" (click)="logout()">
          <mat-icon>
            logout
          </mat-icon>
        </a>
      }
    </div>
  </div>
}
@if (categoryMenuOpen) {
  <app-category-menu [categories]="categories" class="category-menu" (mouseleave)="menuClosed()"></app-category-menu>
}
<router-outlet></router-outlet>




