.home-header {
  width: 100%;
  height: 5rem;
  background-color: var(--light-gray);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.logo-name {
  text-align: center;
  position: absolute;
  font-size: xxx-large;
  margin-top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: black;
  flex: 1;
}

.profile-icon {
  height: 5rem;
  padding-right: 3rem;

  button {
    height: 3rem;
    width: 3rem;
    background-color: rgba(44, 44, 44, 0);

    .mat-icon {
      height: 100%;
      width: 100%;
      font-size: 3rem;
    }
  }

  button:hover {
    background-color: var(--accent);
  }
}

.action-menu {
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
  background-color: var(--light-primary);
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__section {
    display: flex;
    justify-content: space-around;
  }

}

.action-menu-admin {
  padding-left: 3rem;
  padding-right: 3rem;

  &__section {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }
}

.action-menu-icon:hover {
  background-color: var(--accent);
}

.search-bar {
  border-radius: 1rem;
  height: 1.5rem;
  border: none;
}

.action-menu-label {
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  font-family: var(--my-font-family), serif;
}

.action-menu-label:hover {
  font-weight: bold;
  background-color: var(--accent);
}

.element {
  padding: 1rem;
  width: fit-content;
}

.user-name {
  font-weight: bold;
  word-spacing: 0.4rem;
  font-size: 26px;

  a {
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 0.08em;
    word-spacing: normal;
    background-color: var(--light-primary);
    border-radius: 1rem;
    padding: 5px 1rem 5px 1rem;
    box-shadow: rgba(0, 0, 0, 0.13) 0 0 10px;
    color: black;
  }

  a:hover {
    background-color: var(--accent);
    cursor: pointer;
  }
}

.category-menu {
  position: absolute;
  z-index: 10;
}

.action-menu-label-link {
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  font-family: var(--my-font-family), serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  padding-right: 1rem;
  padding-left: 1rem;
}

.action-menu-label-link:hover {
  background-color: var(--accent);
}

@media (max-width: 850px) {
  .element {
    width: 100%;
    box-sizing: content-box;
  }
  .home-header {
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-name {
      font-size: xx-large;
      width: 100%;
      top:10px;
    }

    .profile-icon {
      padding: 0;
    }
  }
}
