<div class="main-container">
  <div class="header">
    <h1>Profil</h1>
    <div class="button-container">
      @if (false) {
        <a routerLink="/home/orders" class="my-button-form-link">Rendeléseim</a>

      }
      <button [disabled]="userSettingsForm.invalid && userShippingAddressForm.invalid"
              (click)="save()" class="my-button-form">Módosítások mentése
      </button>
    </div>
  </div>
  <form class="form-two-columns" [formGroup]="userSettingsForm">
    <h2>Személyes adatok</h2>
    <div class="form-two-columns_section">
      <mat-form-field>
        <mat-label>Vezetéknév</mat-label>
        <input matInput type="text" formControlName="familyName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Keresztnév</mat-label>
        <input matInput type="text" formControlName="firstName">
      </mat-form-field>
    </div>
    <div class="form-two-columns_section">
      <mat-form-field>
        <mat-label>E-mail cím</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Telefonszám</mat-label>
        <input matInput type="text" formControlName="phoneNumber">
      </mat-form-field>
    </div>
    <div class="sex" fxLayout="row" fxLayoutGap="1rem">
      <p>Nem: </p>
      <mat-radio-group fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="center center" formControlName="gender">
        <mat-radio-button [value]="'MALE'">Férfi</mat-radio-button>
        <mat-radio-button [value]="'FEMALE'">Nő</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
  <button (click)="newPassword()" class="my-button-form">Új jelszó</button>
  <form class="address-section form" [formGroup]="userShippingAddressForm">
    <h2>Szállítási cím</h2>
    <div class="form-two-columns_section">
      <mat-form-field>
        <mat-label>Ország</mat-label>
        <input matInput type="text" formControlName="country">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Irányítószám</mat-label>
        <input matInput type="text" formControlName="zipCode">
      </mat-form-field>
    </div>
    <div class="form-two-columns_section">
      <mat-form-field>
        <mat-label>Város</mat-label>
        <input matInput type="text" formControlName="city">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Út / Utca</mat-label>
        <input matInput type="text" formControlName="street">
      </mat-form-field>
    </div>
    <div class="form-two-columns_section">
      <mat-form-field>
        <mat-label>Házszám</mat-label>
        <input matInput type="text" formControlName="streetNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Emelet/Ajtó</mat-label>
        <input matInput type="text" formControlName="floor">
      </mat-form-field>
    </div>
  </form>
  <div fxLayout="row" fxLayoutAlign="center">
    <button fxFlex="98%"
            [disabled]="userSettingsForm.invalid  && userShippingAddressForm.invalid"
            (click)="save()" class="my-button-form">Módosítások mentése
    </button>
  </div>
</div>
