<main class="my-main">
  <div class="header-with-searchbar" [formGroup]="brandSearchForm">
    <h1>Felvett brand-ek</h1>
    <div class="searchbar">
      <mat-form-field>
        <mat-label>Keresés</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <button (click)="loadBrandList()" class="my-button-form">Keresés</button>
    </div>

  </div>
  @if (brands.content) {
    <div class="bordered-container-fill">
      <table mat-table [dataSource]="brands.content" class="table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Megnevezés</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutAlign="end">
              <button (click)="deleteBrand(element)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
              <a [routerLink]="'/admin/brand/' + element.id" mat-icon-button color="accent">
                <mat-icon>edit</mat-icon>
              </a>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsBrandList"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsBrandList;"></tr>
      </table>
    <mat-paginator [pageSizeOptions]="[1, 10, 20]" [length]="brands.totalElements" [pageIndex]="brands.number"
                   [pageSize]="brands.size" (page)="page($event)" showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
    </div>
  } @else {
    <h1 class="text-centered">Nincsenek megjelenítendő elemek.</h1>
  }
</main>
