:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}

.panel-header {
  height: auto;
}

.orders-panel-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 1rem 2px 1rem;

  .shipping-icon {
    color: var(--primary-darker-color);
  }
}

.order-panel-text {
  font-weight: bold;
  font-size: larger;
  flex: 1;
}

.order-panel-actions {
  display: flex;
  flex-direction: row;
  gap:1rem;
  align-items: center;
}

.product-list {
  padding: 8px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px
}

.category-panel-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.product-element {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  align-items: center;
  .product-name {
    width: 40%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-price {
    width: 30%;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-image {
    width: 30%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: right;
    img {
      height: 100px;
      border-radius: 5px;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  mat-form-field {
    min-width: 300px;
  }
}

