<div class="main-container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Blog felvétel</h1>
  </div>
  <section class="form" [formGroup]="articleForm">
    <h2>Adatok</h2>
    <mat-form-field>
      <mat-label>Gomb felirat</mat-label>
      <input matInput type="text" formControlName="buttonText">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gomb link</mat-label>
      <input matInput type="text" formControlName="buttonLink">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Név</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Szöveg</mat-label>
      <textarea matInput type="text" formControlName="text"></textarea>
    </mat-form-field>
    <div class="image-uploader">
      <p>Illusztráció</p>
      <input (change)="fileUpload($event)" #fileUploader type="file"
             class="file-uploader-input">
      <button (click)="fileUploader.click()" class="my-button-form">Feltöltés</button>
    </div>
  </section>
  <h2>Feltöltött illusztrációk</h2>
  @if (illustrationImage) {
    <table class="my-table">
      <tr class="mat-row">
        <td class="mat-cell adat-cella">{{illustrationImage.name}}</td>
        <td class="mat-cell adat-cella">
          <div fxLayout="row" fxLayoutAlign="end">
            <button (click)="deleteImage()" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
            <button (click)="downloadImage()" mat-icon-button color="accent">
              <mat-icon>download</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </table>
  }
  <button [disabled]="articleForm.invalid" (click)="createArticle()" class="my-button-form">Blog létrehozása</button>
</div>
