<mat-card class="main-card">
  <div class="close" fxLayout="row" fxLayoutAlign="space-between center" [matDialogClose]="false">
    <button mat-icon-button>
      <mat-icon>
        cancel
      </mat-icon>
    </button>
  </div>
  <p class="title">Új jelszó létrehozása</p>
  <mat-card-content fxLayout="column" fxLayoutGap="1rem" [formGroup]="newPasswordForm">
    @if (!passwordChanged) {
    <mat-form-field>
    <mat-label>Add meg az új jelszót</mat-label>
    <input formControlName="password1" matInput type="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Új jelszó újra</mat-label>
    <input formControlName="password2" matInput type="password">
  </mat-form-field>
  <p *ngIf="passwordsNotCorrect" class="password-error">Nem egyeznek a megadott jelszavak.</p>
  <button (click)="newPassword()" class="my-button">
    Mentés
  </button>
    }
    @if (passwordChanged) {
    <p>A jelszó módosításra került. Jelentkezz be a vásárláshoz.</p>
    }
  </mat-card-content>
</mat-card>


