.my-button {
  border: none;
  height: 3rem;
  background-color: var(--light-primary);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.my-button:hover {
  background-color: var(--primary);
  cursor: pointer;
}

.main-card {
  width: 30rem;
  padding: 1rem;
}

.title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.back-button {
  text-decoration: underline;
  cursor: pointer;
}

.password-error {
  color: var(--warn);
}
