<main class="my-main">
  <h1>Termékek</h1>
  <mat-accordion *ngFor="let category of categories">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="panel-header">
        <div class="category-panel-container">
          <p class="category-panel-text">{{category.name}}</p>
          <div class="category-panel-actions">
            <button (click)="deleteCategory(category)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
            <button (click)="editCategory(category)" mat-icon-button >
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="addSubcategory(category)" mat-icon-button >
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel-header>
      <!--      <div *ngIf="category.subCategories?.length">
        <div class="category-panel-subCategory" *ngFor="let subCategory of category.subCategories">
          <p>{{subCategory.name}}</p>
          <button (click)="deleteSubCategory(subCategory)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <p *ngIf="!category.subCategories?.length">Nincsenek alkategóriák.</p>-->

    </mat-expansion-panel>
  </mat-accordion>
</main>
