<div fxLayout="column" class="main-card" (click)="goDetail()">
  <header class="product-header">
    <p class="product-name">{{ product().name }}</p>
    <button mat-icon-button (click)="save($event)">
      @if (!isSaved && !savedMode) {
        <span class="material-symbols-outlined">
        favorite
      </span>
      } @else {
        <mat-icon>
          favorite
        </mat-icon>
      }
    </button>
  </header>
  <p class="product-brand">{{ product().brand.name }}</p>
  <div class="product-image" [style.background-image]="'url(' + environment.backendUrl + product().images[0]+ ')'">
  </div>
  @if (product().discountPercentage) {
    <div class="price-container">
      <p><strong>{{ product().price | number }} Ft</strong></p>
      <p class="discount"> - {{ product().discountPercentage }} %</p>
    </div>
  } @else {
    <p><strong>{{ product().price  | number}} Ft</strong></p>
  }
</div>
