mat-dialog-content {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialog-form {
  width: 100%;
}

.dialog-actions {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button {
    width: 100%;
  }
}
