.my-button {
  border: none;
  height: 3rem;
  background-color: var(--light-primary);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.my-button:hover {
  background-color: var(--primary);
  cursor: pointer;
}

.main-card {
  width: 30rem;
  padding: 1rem;
  mat-icon {
    font-size: 10rem;
    height: 10rem;
    width: 10rem;
  }
}

.title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.text {
  text-align: center;
}

.progress-indicator {
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
