<mat-card class="main-card">
  <div class="close" fxLayout="row" fxLayoutAlign="space-between center" [matDialogClose]="false">
    <button mat-icon-button>
      <mat-icon>
        cancel
      </mat-icon>
    </button>
  </div>
  <p class="title">Új jelszó létrehozása</p>
  <mat-dialog-content *ngIf="!isAuthorized" [formGroup]="authForm" fxLayout="column" fxLayoutGap="1rem">
    <mat-form-field>
      <mat-label>Add meg a jelenlegi jelszót</mat-label>
      <input formControlName="password" matInput type="password">
    </mat-form-field>
    <button (click)="authorize()" class="my-button">Jelszó ellenőrzése</button>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="isAuthorized" fxLayout="column" fxLayoutGap="1rem" [formGroup]="newPasswordForm">
    <mat-form-field>
      <mat-label>Add meg az új jelszót</mat-label>
      <input formControlName="password1" matInput type="password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Új jelszó újra</mat-label>
      <input formControlName="password2" matInput type="password">
    </mat-form-field>
    <p *ngIf="passwordsNotCorrect" class="password-error">Nem egyeznek a megadott jelszavak.</p>
    <button [disabled]="passwordsNotCorrect || newPasswordForm.invalid" (click)="newPassword()" class="my-button">
      Mentés
    </button>
  </mat-dialog-content>
</mat-card>
