.main-card {
  width: 30rem;
  padding: 1rem;

  .close {
    width: 100%;
  }
}

.title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.back-button {
  text-decoration: underline;
  cursor: pointer;
}

.password-error {
  color: var(--warn);
}
