.category-name {
  font-size: 32px;
  font-weight: bolder;
}

.sub-category {
  text-align: end;
  ul:hover {
    font-weight: bolder;
    cursor: pointer;
  }
}

.main-card {
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.25);
  padding: 1rem;
}
