<mat-card class="main-card">
  <div class="close" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="1rem">
      <mat-icon>
        arrow_back
      </mat-icon>
      <a class="back-link" [matDialogClose]="'login'" fxLayout="row" fxLayoutAlign="center center">Bejelentkezés</a>
    </div>
    <button mat-icon-button [matDialogClose]="false">
      <mat-icon>
        cancel
      </mat-icon>
    </button>
  </div>
  <p class="title">Új jelszó létrehozása</p>
  <mat-card-content fxLayout="column" fxLayoutGap="1rem" [formGroup]="forgotPasswordForm">
    <mat-form-field *ngIf="!emailSent">
      <mat-label>Add meg az e-mail címedet!</mat-label>
      <input formControlName="email" matInput type="text" email>
    </mat-form-field>
    <p *ngIf="isEmailUnknown" class="login-error">Nincs ilyen e-mail címmel regisztrált felhasználó.</p>
    <button *ngIf="!emailSent" (click)="forgotPassword()" class="my-button">
      Új jelszó kérése
    </button>
    <p *ngIf="emailSent">Az email kiküldésre került, amennyiben nem kaptad meg, <a class="link" (click)="forgotPassword()">próbáld újra</a>.</p>
  </mat-card-content>
</mat-card>

