<mat-card class="main-card">
  <div class="close" fxLayout="row" fxLayoutAlign="space-between center" [matDialogClose]="false">
    <button mat-icon-button>
      <mat-icon>
        cancel
      </mat-icon>
    </button>
  </div>
  <p class="title">Új jelszó létrehozása</p>
  <mat-dialog-content [formGroup]="authForm" fxLayout="column" fxLayoutGap="1rem">
    @if (!isEmailSent) {
      <p>A jelszó módosításához e-mailben szükséges igazolod magad.<br><strong>Biztosan modósítani akarod?</strong></p>
    } @else {
      <p>Az e-mail sikeresen kiküldésre került.</p>
      <p>Amennyiben nem kapod meg az e-mailt pár percen belül,<strong> válaszd az újraküldést.</strong></p>
    }
    <button (click)="sendEmail()" class="my-button">
      @if (!isEmailSent) {
        Kérem az e-mailt
      } @else {
        E-mail újraküldése
      }
    </button>
  </mat-dialog-content>
</mat-card>
